/* banner section styling */

.banner-img {
    background-image: url("../images/banner.png");
    height: 100vh;
}


.input-group {
    background: #B68C5A;
    border-radius: 8px;
}

/* .carousel section styling from here */

.carousel-img-1 {
    background-image: url("../images/slider-1.jpg");
    height: 100vh;
}

.carousel-img-2 {
    background-image: url("../images/slider-3.jpg");
    height: 100vh;
}

.carousel-img-3 {
    background-image: url("../images/slider-1.jpg");
    height: 100vh;
}

.carousel-img-info{
    width: 570px;
    height: 574px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}


/* FAQ section styling */

.faq-img{
    width: 570px;
    height: 576px;
}

/* Contact us section */
.btn{
    background: #B68C5A;
    border-radius: 8px;
}


a{
    text-decoration: none;
    color:white;
}
